<div id="barChartContainer" class="clr-row">
    <div class="clr-col-7">
        <div class="card">
            <div class="card-header">
                Vistos y Matches por trabajo
            </div>
            <div class="card-block">
                <canvas id="barChart" baseChart
                        [datasets]="barChartData"
                        [labels]="barChartLabels"
                        [options]="barChartOptions"
                        [legend]="barChartLegend"
                        [chartType]="barChartType">
                </canvas>
            </div>
        </div>
    </div>
    <div id="pieChartContainer" class="clr-col-5">
        <div class="card">
            <div class="card-header">
                Vistos y Matches por trabajo
            </div>
            <div class="card-block">
                <canvas id="pieChart" baseChart
                        [data]="pieChartData"
                        [labels]="pieChartLabels"
                        [chartType]="pieChartType"
                        [colors]="pieChartColors">
                </canvas>
            </div>
        </div>
    </div>
</div>